/* General Reset and Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font and Basic Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #000000; /* Default text color */
    line-height: 1.6;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul, ul.nav {
    list-style: none;
}

/* Header Styles */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff; /* White text */
    padding: 35px 100px 0;
    background-color: #20236D; /* Navy Blue */
}

header h2 img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

header h2 a {
    display: flex;
    align-items: center;
}

header ul.nav {
    display: flex;
}

header ul.nav li {
    margin: 0 15px;
}

header ul.nav li:first-child {
    margin-left: 0;
}

header ul.nav li:last-child {
    margin-right: 0;
}

header ul.nav li a {
    color: #009739; /* Green */
}

header ul.nav li a:hover {
    color: #D52B1E; /* Red on hover */
}

/* Media Queries for Header */
@media(max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }

    header ul.nav li {
        margin: 0 7px;
    }
}

/* Banner Area */
.banner-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #ffffff; /* White text */
    text-align: center;
}

.banner-area .banner-img {
    background-image: url('churchbanner.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.banner-area .banner-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black overlay with opacity */
}

.banner-area h1 {
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
}

.banner-area h1 span {
    color: #009739; /* Green */
}

.banner-area h3 {
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    color: #D52B1E; /* Red */
}

.banner-area a.banner-btn {
    padding: 15px 35px;
    background: #009739; /* Green */
    color: #ffffff; /* White text */
    text-transform: uppercase;
    border-radius: 5px;
}

.banner-area a.banner-btn:hover {
    background-color: #D52B1E; /* Red on hover */
}

/* Media Queries for Banner Area */
@media (max-width: 800px) {
    .banner-area {
        min-height: 600px;
    }

    .banner-area h1 {
        font-size: 27px;
    }

    .banner-area h3 {
        font-size: 20px;
    }

    .banner-area a.banner-btn {
        padding: 8px 20px;
    }
}

/* About Area */
.about-area {
    padding: 50px 100px;
}

.about-area .section-title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.about-area .section-title span {
    color: #D52B1E; /* Red */
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-left {
    flex-basis: 30%;
    background-image: url('images/2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.about-right {
    flex-basis: 70%;
}

.about-right h2 {
    font-size: 35px;
    color: #20236D; /* Navy Blue */
}

.about-area p {
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}

/* Media Queries for About Area */
@media (max-width: 1000px) {
    .about-area .section-title {
        font-size: 35px;
    }

    .about-left, .about-right {
        flex-basis: 100%;
    }

    .about-content li {
        padding: 8px;
    }
}

/* Message Area */
.msg-area {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/a2.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff; /* White text */
    text-align: center;
    padding: 60px 0;
}

.msg-content {
    padding: 20px;
}

/* Services Area */
.services-area {
    padding: 50px 100px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.services-content img {
    width: 100%;
    margin-bottom: 20px;
}

.services-content li h4 {
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #20236D; /* Navy Blue */
}

.services-content li p {
    margin: 0;
    color: #000000; /* Black text */
}

/* Media Queries for Services Area */
@media (max-width: 1000px) {
    .services-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .services-content li:last-child {
        margin-bottom: 0;
    }

    .services-content li p {
        padding: 0;
    }
}

/* Contact Area */
.contact-area {
    padding: 50px 100px;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-content li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.contact-content li i {
    font-size: 50px;
    color: #009739; /* Green */
    margin-bottom: 25px;
}

.contact-content li p {
    margin: 0;
    color: #000000; /* Black text */
}

/* Media Queries for Contact Area */
@media (max-width: 1000px) {
    .contact-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child {
        margin-bottom: 0;
    }

    .contact-content li p {
        padding: 0;
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff; /* White text */
    background-color: #20236D; /* Navy Blue */
    padding: 60px 0;
}
